.cell2, .cell5, .cell10, .cell12, .cell15, .cell20, .cell25, .cell30,.cell35,.cell40,.cell50,.cell60, .cell75,.cell85,.cell100 {float:left; height:20px; padding:5px 0 5px 5px; font-family:'Tahoma', Arial; font-size:8pt; }
.cell2 {width:5px}
.cell5 {width:50px}
.cell10 {width:70px}
.cell12 {width:100px}
.cell15 {width:120px}
.cell20 {width:130px}
.cell25 {width:160px}
.cell30 {width:230px}
.cell35 {width:370px}
.cell40 {width:350px}
.cell50 {width:450px}
.cell60 {width:500px}
.cell75 {width:550px}
.cell85 {width:600px}
.clearFixx { clear: both; }
.emojot_widget{
    padding: 0 10%;
    height: 500px;
}